<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<appSettings>
		<add key="remindermailTo" value="siyengar@qsihealthcare.com"/>
		<add key="remindermailSubject" value="NG7 Birthday Reminder!"/>
		<add key="remindermailCC" value="siyengar@qsihealthcare.com"/>
		<add key="bdaymailCC" value="siyengar@qsihealthcare.com"/>
		<add key="bdaymailSubject" value="Happy Birthday!!"/>
		<add key="advancebdaymailSubject" value="Advance Birthday Wishes!!"/>
		<add key="belatedDays" value="10"/>
		<add key="upcomingDays" value="15"/>
		<add key="Upcoming" value="1"/>
		<add key="Todays" value="1"/>
		<add key="Belated" value="1"/>
		<add key="Advanced" value="1"/>
		<add key="noofpics" value="31"/>
		<add key="noofadvancedpics" value="10"/>
		<add key="sendbirthdayreminder" value="1"/>
		<add key="sendbirthdaymail" value="1"/>
		<add key="sendadvancedbirthdaymail" value="1"/>
		<add key="advancedbirthdaymailafterhour" value="17"/>
		<add key="log" value="C:\birthdayLog.txt"/>
	</appSettings>
</configuration>
